@import "../colors.css";

window#osd {
  padding: 12px 20px;
  border-radius: 999px;
  border: none;
  background: #1e1e2e;

  #container {
    margin: 16px;
  }

  image,
  label {
    color: #fab387;
  }

  progressbar:disabled,
  image:disabled {
    opacity: 0.5;
  }

  progressbar {
    min-height: 6px;
    border-radius: 999px;
    background: transparent;
    border: none;
  }

  trough {
    min-height: inherit;
    border-radius: inherit;
    border: none;
    background: #45475a;
  }

  progress {
    min-height: inherit;
    border-radius: inherit;
    border: none;
    background: #45475a;
  }
}
